<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
  <%= render "devise/shared/error_messages", resource: resource %>



  <div>
    <%= form.label :name, style: "display: block", class: 'field' %>
    <div class="control">
      <%= form.text_field :name, class: 'input' %>
    </div>
  </div>

  <div>
    <%= form.label :surname, style: "display: block", class: 'field' %>
    <div class="control">
      <%= form.text_field :surname, class: 'input' %>
    </div>
  </div>

  <div>
    <%= form.label :patronym, style: "display: block", class: 'field' %>
    <div class="control">
      <%= form.text_field :patronym, class: 'input', class: 'input' %>
    </div>
  </div>

  <div>
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, style: "width: 200px; display:block" %>
    <% end %>
    <%= form.label :avatar, style: "display: block", class: 'field' %>
    <div class="control">
      <%= form.file_field :avatar, class: 'input' %>
    </div>
  </div>



  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= form.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
